{% extends "base.html" %}
{% block title %}Microblog{% endblock %}

{% block user %}
    {% if log == True %}
        <p>{{username}}</p>
    {% else %}
        <a href="/login">{{username}}</a>
    {% endif %}
{% endblock %}

{% block content %}
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% if log == True %}
            <h1>Add new entry</h1>
            <form class="form" method="post">
                <p class="form_input">{{username}}: </p>
                <p class="form_text">
                    <label class="form_label" for="entry">Entry content: </label>
                    <textarea class="form_textarea" name="content" id="entry"></textarea>
                </p>
                <button name="id" value="" class="form_button" type="submit">Add entry</button>
            </form>
        {% else %}
            <h3>For entry comment login/signin!</h3>
        {% endif %}
    </section>

    <section>
        <h1>Recent Post</h1>
        {% for entry in entries: %}
            <article class="entry">
                <div>
                    <h2 class="entry_title">{{entry["entry_title"]}}</h2>
                    <time class="entry_date" datetime="{{entry['formatted_date']}}">{{entry["show_date"]}}</time>
                    {% if entry["entry_title"] == username %}
                        <form class="form_delete" method="post">
                            <button class="button_delete" type="submit" name="id" value="{{entry}}">Delete</button>
                        </form>
                    {% endif %}
                </div>
                <p class="entry_content">{{entry["entry_content"]}}</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}

